<section class='new-tweet'>
  <h3>Your Tweet</h3>
</section>

<% @tweets.each do |tweet| %>
  <section class='tweet'>
    <img class='profile-image' src="<%= tweet.user.profile_image_url.to_s.gsub('_normal', '')%>">
    <h3 class='name'><%= tweet.user.name %></h3>
    <article class='words'>
      <% words = tweet.text.split(' ') %>
      <% words.each do |word| %>
      <span class='word'><%= word %></span>
      <% end %>
    </article>
    <hr>
  </section>
<% end %>

