<section class='new-tweet'>
  <p class='intro'>Your tweet starts here...</p>
  <p class='intro'>Click on the words on the left to add them to this box</p>
  <p class='intro'>Click the button below to tweet out your compiled tweet!</p>
</section>

<button class='tweet-button'>Tweet this!</button>

<% @tweets.each do |tweet| %>
  <section class='tweet'>
    <%= image_tag tweet.user.profile_image_url.to_s.gsub('_normal', ''), :class => 'profile-image' %>
    <h3 class='name'><%= tweet.user.name %></h3>
    <article class='words'>
      <% words = tweet.text.split(' ') %>
      <% words.each do |word| %>
      <span class='word'><%= word %></span>
      <% end %>
    </article>
    <hr>
  </section>
<% end %>

