%h1 Welcome to Magnetic Tweet
%p Create your own tweets with the words of your friends and the people you follow.
%p Tweet back at them.
%p When they say "What?", you just reply... your words, not mine.