.words {
  background: #95A5A6;
}

.profile-image{
  height: 100px;
  width: 100px;
}

.tweet {
  width: 400px;
}

.new-tweet {
  float: right;
  width: 400px;
  height: 200px;
  background: #95A5A6;
}

nav {
  height: 100px;
  background: rgba(black, 0.6);
  margin-bottom: 20px;
}