@import "fonts";
@import "mixins";

$width: 500px;
$margin: 10px;
$border-radius: 3px;
$border: 1px solid white;
$padding: 10px;
$nav-height: 30px;
$font-color: #202233;
$second-color: #ECF0F1;
$transparant-background: rgba($second-color, 0.3);

body {
  // min-width: 1050px;
  background: url('http://abs.twimg.com/images/themes/theme1/bg.png') no-repeat center bottom fixed, #8CC1DB;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color: $font-color;
  padding: $padding;
}

a {
  color: $second-color;
}

hr {
  color: $second-color;
  background-color: $second-color;
  height: 1px;
}

.welcome {
  margin: $margin * 2;
}

img {
  border-radius: 50%;
}



// Nav
nav {
  background: rgba(#E8160C, 0.6);
  margin-bottom: $margin * 2;
  border-radius: $border-radius;
  height: $nav-height;
  color: $second-color;
  padding: $padding;
}

.username {
  margin-top: $margin;
  float: left;
}

.signout {
  margin: $margin;
  float: right;
}

.signin {
  margin: $margin;
}

.user-image {
  float: left;
  height: 35px;
  width: 35px;
  margin-right: $margin;
}


// User
.profile-image{
  float: left;
  height: 100px;
  width: 100px;
  margin: 0 $margin $margin 0;
}

.name {
  float: left;
}



// Tweets
.words {
  clear: both;
}

.word {
  padding: 1px;
  background: rgba(#7F8C8D, 0.2);
  border-radius: 1.5px;
  margin: 2px;
  cursor: pointer;
  &:hover {
    color: $second-color;
  }
}

.tweet {
  border: $border;
  width: $width;
  line-height: 200%;
  background: $transparant-background;
  margin-bottom: $margin;
  padding: $padding;
  border-radius: $border-radius;
}

.new-tweet {
  width: $width;
  height: 200px;
  border: $border;
  position: fixed;
  top: ($padding * 2) + ($margin * 2) + $nav-height + 20;
  right: ($padding * 2);
  border-radius: $border-radius;
  padding: $padding;
  background: $transparant-background;
}

.tweet-button {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 14px;
  position: fixed;
  top: ($padding * 4) + ($margin * 3) + $nav-height + 20 + 200;
  right: ($padding * 2);
  border-radius: $border-radius;
  padding: $padding $padding * 4;
  background: $transparant-background;
  border: $border;
  &:focus {
    outline: 0;
  }
  &:active {
    background: rgba($second-color, 0.8);
  }
}

.warning {
  text-align: center;
  height: 30px;
  width: $width;
  background: #C4585C;
  color: $second-color;
  margin-right: $margin;
  position: fixed;
  top: ($padding * 4) + ($margin * 3) + $nav-height + 20 + 150;
  right: ($padding * 2);
  // cursor: pointer;
  // &:hover {
  //   background: lighten(#C4585C, 10%);
  // }
}





